html, body {
  height: 100%;
  background: black;
  /* -webkit-tap-highlight-color:transparent; */
}

*, *:before, *:after {
  -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}
